h1 {
  font-family: arial;
}

h2 {
  font-family: arial;
}

h3 {
  font-family: arial;
}

h4 {
  font-family: arial;
}

h5 {
  font-family: arial;
}

button {
  background-color: black;
  border: none;
  display: inline-block;
  color: gold;
  padding: 12px 28px;
  text-decoration: none;
  font-size: 18px;
}

#warning {
  background-color: crimson;
}

p {
  font-family: arial;
}

p.a {
  text-color: black;
}

#supernova {
  width: 45%;
  height: 30%;
  background-color: lime;
  text: white;
}